<!-- Sidebar -->


<ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
		<div class="sidebar-brand-icon"><br><br><br>
			<img src="/img/logo_ma_de_encantos.svg" width="200" />
		</div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="#">
			<i style="color: #755C1D; margin-top: 25%" class="fas fa-plane-departure"></i>
			<span style="color: #755C1D">Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading" style="color: #8F8B5D">
		MENU
	</div>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/agencias-viagem/list">
			<i style="color: #755C1D" class="fas fa-suitcase fa-2x"></i>
			<span style="color: #755C1D">Agências de Viagem</span>
		</a>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/cidades/list">
			<i style="color: #755C1D" class="fas fa-compass fa-2x"></i>
			<span style="color: #755C1D">Cidades</span>
		</a>
	</li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
			<i style="color: #755C1D" class="fas fa-shopping-cart fa-2x"></i>
			<span style="color: #755C1D">Compras</span>
		</a>
		<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 style="color: #755C1D" class="collapse-header">Itens:</h6>
				<a style="color: #755C1D" class="collapse-item" href="/app/compras/list">Compras</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/tipo-compras/list">Tipos de Compras</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
			<i style="color: #755C1D" class="fas fa-hotel fa-2x"></i>
			<span style="color: #755C1D">Hospedagens</span>
		</a>
		<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 style="color: #755C1D" class="collapse-header">Itens:</h6>
				<a style="color: #755C1D" class="collapse-item" href="/app/hospedagens/list">Hospedagens</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/tipo-hospedagem/list">Tipos de Hospedagem</a>
			</div>
		</div>
	</li>


	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/polos/list">
			<i style="color: #755C1D" class="fas fa-map-signs fa-2x"></i>
			<span style="color: #755C1D">Pólos Turísticos</span>
		</a>
	</li>


	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
			<i style="color: #755C1D" class="fas fa-utensils fa-2x"></i>
			<span style="color: #755C1D">Restaurantes</span>
		</a>
		<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 style="color: #755C1D" class="collapse-header">Itens:</h6>
				<a style="color: #755C1D" class="collapse-item" href="/app/restaurantes/list">Restaurantes</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/tipo-comida/list">Tipos de Comida</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/roteiros/list">
			<i style="color: #755C1D" class="fas fa-globe-americas fa-2x"></i>
			<span style="color: #755C1D">Roteiros</span>
		</a>
	</li>


	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			<i style="color: #755C1D" class="fas fa-layer-group fa-2x"></i>
			<span style="color: #755C1D">Tópicos</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 style="color: #755C1D" class="collapse-header">Itens:</h6>
				<a style="color: #755C1D" class="collapse-item" href="/app/pontos-turisticos/list">Atrativos Turístios</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/gastronomia/list">Gastronomia</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/igrejas/list">Igrejas</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/museus/list">Casas de Cultura</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/pracas/list">Praças</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/praias/list">Praias</a>
				<a style="color: #755C1D" class="collapse-item" href="/app/teatros/list">Teatros</a>



			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/app/notificacao/list">
			<i style="color: #755C1D" class="fas fa-paper-plane fa-2x"></i>
			<span style="color: #755C1D">Notificações</span>
		</a>
	</li>
	<% if(informacoes.niveis != null && informacoes.niveis[0] == 'ADMIN') {%>

	<li class="nav-item">
		<a class="nav-link" href="/app/usuario/list">
			<i style="color: #755C1D" class="fas fa-user-plus fa-2x"></i>
			<span style="color: #755C1D">Usuários</span>
		</a>
	</li>
	<%}%>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->